section#edit-tag {
	padding: 1rem 0;

		button#revert-btn {
			margin-left: 3px;
		}

		button#edit-tag-btn,
		button#revert-btn {
			margin-top: 0.5rem;
		}

	ul#cat-list + button#edit-tag-btn,
	ul#cat-list + button#edit-tag-btn + button#delete-tag-btn {
		margin-top: 0;
	}
}
