li.cat {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0 5px;
	border-radius: 2px;
	background-color: var(--sky);
	height: 25px;
	font-weight: bold;

	a {
		color: black;
	}

	p {
		color: black;
		font-weight: bold;
		margin: 0;
		white-space: nowrap;
	}

	button.img-btn {
		filter: invert(1);
	}

	button.plus-btn {
		padding-right: 0;
	}
}

li.cat.mini {
	height: 16px;
	background-color: transparent;
	border: 1px solid var(--sky-vague);

	a {
		color: var(--sky);
	}
}

li.cat.mini:hover {
	background-color: var(--sky);

	a {
		color: black;
	}
}

li.cat.nsfw {
	background-color: var(--danger);
}

li.cat.addable {
	opacity: 0.4;
}
