li.cat {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0 5px;
	border-radius: 2px;
	background-color: var(--sky);
	height: 25px;

	p {
		color: black;
		font-weight: bold;
		margin: 0;
		white-space: nowrap;
	}

	button.img-btn {
		filter: invert(1);
	}

	button.plus-btn {
		padding-right: 0;
	}
}
li.cat.nsfw {
	background-color: var(--danger);
}
li.cat.addable {
	opacity: 0.4;
}
