li.cat {
	height: 16px;
	font-weight: bold;
	list-style: none;

	a {
		color: var(--sky);
		border-radius: 2px;
		padding: 0 5px;
	}

	a:hover {
		color: black;
		background-color: var(--sky);
	}

	span {
		margin-left: 5px;
	}
}

li.cat.fat {
	display: inline;
	height: 25px;
	background-color: var(--sky);
	padding: 0 5px;
	border-radius: 2px;

	a {
		color: black;
	}

	p {
		color: black;
		font-weight: bold;
		margin: 0;
		white-space: nowrap;
	}

	button.img-btn {
		filter: invert(1);
	}

	button.plus-btn {
		padding-right: 0;
	}
}

li.cat.fat,
li.cat.addable {
	display: inline-flex;
	align-items: center;
}

li.cat a,
li.cat.addable {
	border: 1px solid var(--sky-vague);
}

li.cat.nsfw a {
	color: var(--danger);
}

li.cat.nsfw a:hover {
	background-color: var(--danger);
	color: black;
}

li.cat.addable {
	padding-left: 5px;

	p {
		margin-top: 0;
	}
}

li.cat.addable:has(button:hover) {
	color: black;
	background-color: var(--sky);

	button img {
		filter: invert(1);
	}
}
