---
import GlobalTagCalcDiagram from '../../components/About/GlobalTagCalcDiagram.astro'
import SearchDiagram from '../../components/About/SearchDiagram.astro'
import ScrollUp from '../../components/ScrollUp.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
        <h1>How FITM Works</h1>

        <section>
            <h2 id="cats" class="subsection">Meow?</h2>
            <p><em>Cats</em> are an important FITM component. Their name is a shorthand for <em><a href="#tags">tag categories</a></em>. (And as a <a href="https://en.wikipedia.org/wiki/I_Can_Has_Cheezburger%3F">classic Internet symbol</a>, cats also seem well fitted to moderate a curated collection of webpages.) Don't be alarmed by talk of "stacking cats"; animals are wonderful and none were harmed making this tool.</p>

            <p>When you mark a link as treasure (AKA submit it), you decide the best cats to describe it and submit them as a vote. Your vote influences the link's <em><a href="#global-tags">global tag</a></em>. And when searching, you can declare which cats must be present in the global tag of any found links.</p>

            <p>The most common cats throughout links returned in a search are listed in order of frequency. Searches utilizing cat filters list out top <em>subcats</em>: the most common cats from found links that were <strong>not</strong> provided as filters.</p>

			<p>Top cats or subcats can be stacked on existing filters to add specificity and rapidly concentrate on some certain material. Click a cat to add it to your constraints, drilling deeper and more precisely into the original cross section of links.</p>
        </section>

        <SearchDiagram />

        <section>
            <h2 id="core-actions" class="subsection">Core Actions</h2>
            <ol>
                <li><strong>Summarize</strong></li>
                <li><strong>Copy</strong></li>
                <li><strong>Like</strong></li>
                <li><strong>Tag</strong></li>
            </ol>
            <h3 class="subsection">Summarize</h3>
            <p>
                Every link has a summary page where any user can
                offer their own description of its content. Summaries can be upvoted so the most liked ones are most visible.
            </p>
            <p>
                A link's top summary will be shown above its URL at all times to
                quickly give a sense for what it contains.
            </p>
            <h3 class="subsection">Copy</h3>
            <p>
                <strong>Copying</strong> links to your Treasure Map improves
                discoverability via proliferation. It allows you to easily find a
                link again or let others find it by reading your Treasure Map.
            </p>
            <h3 class="subsection">Like</h3>
            <p>
                <strong>Liking</strong> improves discoverability via corroboration.
                It's a way to vouch for a link's "goodness" (comprehensiveness, authenticity, hilarity, whatever).
            </p>
            <p>
                Liking helps great content appear closer to the top of searches,
                so anyone can find it easily.
            </p>
            <h3 id="tags" class="subsection">Tag</h3>
            <p>
                <strong>Tagging</strong> links improves discoverability
                via filtration. A tag is a list of cats for a link, chosen by you. It's your interpretation of the topics that the link may be associated with, or terms that you expect someone interested in the link would search for.
            </p>
            <p>
                We don't have to agree on the most accurate cat(s) for any link. Each tag author's configuration is recorded, and can be found on their Treasure Map.
            </p>
        </section>
			
		<section id="global-tags">
			<h2> The Global Treasure Map and Global Tags</h2>
			<p>
				Any <em>user-submitted tag</em>
				decides how the link is sorted on it's author's Treasure Map. But every link also has a <em>global tag</em>,
				which determines its placement on the <a href='/search'>Search</a
			> and <a href='/more'>More</a> pages.
			</p>
			<p><em>Global tags</em> are calculated automatically, based on user-submitted tags, according to: <strong>1)</strong> the age of every tag and <strong>2)</strong> the frequencies of cats between
			them. They're shown with each link. (Unless, again, the link is viewed from a user's Treasure Map; then it will show <em>their</em> tag.) You can view any link's top user-submitted tags on demand.</p>

			<p>Each user-submitted tag shows its <em><a href="#global-tag-calculation">lifespan overlap percentage</a></em>, author, date of submission, and cats. Tags that have kept the same combination of cats for the greatest portion of the link's lifespan are ranked highest. Editing a tag's cats will reset it's lifespan overlap percentage.</p>

			<p><strong>Note:</strong> a link's global cats will not necessarily resemble only its highest-ranked tags. If many newer tags contain some cats that are not already present in the global tag, it's likely that those will also be assigned.</p>

			<p>This system is based on the assumption that the best interpretations of various links' cats (most logical, most useful, etc.) will be those that <strong>1)</strong> reappear often across tags or <strong>2)</strong> remain unedited for a long time.</p>

			<p>A long-unchanged tag could still be a poor representation, but if enough people disagree and submit alternative tags their collective input will nullify it; the old tag's cats will likely be removed from the link's global tag.</p>
		</section>

		<section>
			<h2 id="global-tag-calculation" class="subsection">Global Tag Calculation</h2>
			<p>Note: <a href="/feedback">constructive criticism welcomed</a> for this system.</p>
			<p>For a cat to be added to link <code>L</code>'s global tags, it's <em>score</em> must be &ge;25% of the highest score among <code>L</code>'s cats.</p>
			<p><em>Scores</em> for cat <code>C</code> of link <code>L</code> are calculated as the sum of scores from each occurrence of <code>C</code> in one of <code>L</code>'s tags. Each score is weighted by the number of cats in the tag containing the occurrence.</p>
			<p>Weights for tag <code>T</code> are calculated as <em>lifespan overlap percentage</em> of <code>T</code>, divided by <code>T</code>'s number of cats. </p>
			<p>Lifespan overlap percentage for tag <code>T</code> of link <code>L</code> is the percentage of <code>L</code>'s time on FITM that  <code>T</code> has remained in its current state since creation or last edit.</p>

			<GlobalTagCalcDiagram />
		</section>

        <section>
            <h2 id="retrieving-metadata" class="subsection">Retrieving Metadata</h2>
			<p>FITM employs <em>very limited</em> use of automated website scraping to fetch <a href="https://ogp.me/">Open Graph</a> metadata for submitted links. These requests can be identified by the <strong>FITM-Bot</strong> user agent.</p>

			<p>A max of 1-3 automated requests go out to each submitted URL (FITM-Bot tries different protocol prefixes, e.g., "https://" and "http://", if the first request fails). This automated scraping helps to cut down on link submission friction and pair links with eye-catching preview images. The goal is ultimately to promote appreciation for good, public Internet sites by improving their visibility.</p>

			<p><strong>Anyone can have their domain added to a non-scrape list upon request, with no further questions</strong>. Please send an email to <a href="mailto:support@fitm.online">support@fitm.online</a> if you'd like that. It would be an odd decision though. The traffic is miniscule, and the point of sites being on FITM is to help them get more visitors. Wouldn't you want more visitors?</p>
        </section>

		<ScrollUp />
	</main>
</BaseLayout>

<style>
	section {
		padding: 1rem 0;
	}

	h2 {
		margin-top: 0.5rem;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#search-diagram-narrow,
	img#search-diagram {
		margin-top: 2rem;
		max-height: 500px;
	}

	img#search-diagram {
		display: none;
	}

    section:has(h2#core-actions) h3 {
        margin-top: 2rem;
    }

	@media (min-width: 680px) {
		img#search-diagram-narrow {
			display: none;
		}

		img#search-diagram {
			display: block;
		}
	}
</style>
