---
import NoFooter from '../../layouts/NoFooter.astro'
---

<NoFooter Title="Email Sent">
    <main>
        <h1>Sent!</h1>

        <p>If your FITM account has an associated email, you should receive an email with a link to reset your password.</p>
    </main>
</NoFooter>