---
interface Props {
	MergedCats: string[]
}

let { MergedCats: merged_cats } = Astro.props
if (merged_cats.length > 3) {
	merged_cats = merged_cats.slice(0, 3).concat(`and ${merged_cats.length - 3} others`)
}
---

<p id='merged-results-notice'>
	(Merging results for: {(<span>{merged_cats.join(', ')}</span>)})
</p>

<style>
	#merged-results-notice {
		font-style: italic;
		text-align: center;
		color: var(--text-muted);
		margin: 0;
		margin-top: 1rem;

		span {
			font-weight: bold;
		}
	}

	@media (min-width: 680px) {
		#merged-results-notice {
			text-align: left;
		}
	}
</style>

