---
interface Props {
    AddSomethingPrompt?: boolean
}

---

<section>
    <p id="no-links">Alas, this voyage uncovered no loot</p>

    <p>&macr;&bsol;&lowbar;&lpar;&#x30c4;&rpar;&lowbar;&sol;&macr;</p>
    
    {Astro.props.AddSomethingPrompt && <p id="add-link"><a href="/new">Reveal something cool</a></p>}
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        text-align: center;
    }

	p#no-links {
		margin-top: 0;
	}

	p#add-link {
		margin-top: 2rem;
	}
</style>