---
interface Props {
	AddSomethingPrompt?: boolean
}
---

<section>
	<p id='no-links'>Alas, no treasure here.</p>

	<p>&macr;&bsol;&lowbar;&lpar;&#x30c4;&rpar;&lowbar;&sol;&macr;</p>

	{
		Astro.props.AddSomethingPrompt && (
			<>
				<p id='hope'>Unless... ?</p>
				<p id='anime-glasses-moment'>
					<a href='/new'>I know a thing</a>
				</p>
			</>
		)
	}
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 150px;
		width: 100%;
		text-align: center;
	}

	p#no-links,
	p#anime-glasses-moment {
		margin-top: 0;
	}

	p#hope {
		margin-top: 2rem;
	}
</style>
