---
import { MIN_LIST_ITEMS_FOR_SCROLLBAR } from '../../constants'
import type { Contributor } from '../../types'

interface Props {
    Contributors: Contributor[]
}
const contributors = Astro.props.Contributors
---

<div>
    <h2>Top Treasure Hunters</h2>
    <ol id="top-contributors" class={contributors?.length > MIN_LIST_ITEMS_FOR_SCROLLBAR ? 'scrollable' : ''}>
        {contributors.map(
            (c: Contributor) => (
                <li>
                    <strong>
                        <a
                            href={`/map/${c.LoginName}`}
                        >
                            {c.LoginName}
                        </a>
                    </strong>
                    <span>
                        ({c.LinksSubmitted})
                    </span>
                </li>
            )
        )}
    </ol>
</div>

<style>
    h2 {
        padding-bottom: 0.5rem;
    }
</style>