#profile-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-top: 0.5rem;

	label#new-pic-upload-label {
		display: inline-block;
		min-width: fit-content;
		cursor: pointer;
	}

	button#delete-pfp-btn {
		margin-bottom: -2px;
	}

	button,
	img {
		padding: 0;
	}
}

#profile-pic + #profile-actions {
	flex-direction: column;
	margin-left: 1rem;
}

@media (min-width: 680px) {
	#profile-actions,
	#profile-pic + #profile-actions {
		flex-direction: row;
		margin-left: 0;
	}

	button#delete-pfp-btn {
		margin: 0;
	}

	button#confirm-about-changes {
		margin: 0 -1px;
	}

	#profile-pic + #profile-actions button#edit-email-btn,
	button#confirm-email-changes {
		margin-left: 3px;
	}
}
