section#profile {
	.profile-details-text {
		font-size: 12px;
		color: var(--text-muted);
	}

	#created-at {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	> #profile-sections {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		> :first-child {
			display: flex;
		}
	}
}

@media (min-width: 680px) {
	#profile-sections:has(> div #profile-pic) {
		flex-direction: row;
		gap: 1.5rem;

		> :first-child {
			flex-direction: column;
		}

		> #profile-about {
			min-width: 100px;
			max-width: 40%;
		}
	}
}
