section#profile {
	.profile-details-text {
		font-size: 12px;
		color: var(--text-muted);
	}

	#created-at {
		margin-top: 0;

		span {
			margin-right: 1ch;
		}
	}

	> #profile-sections {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		> :first-child {
			display: flex;
		}
	}
}

section#profile:has(#profile-pic) #created-at {
	margin-bottom: 1rem;
}

@media (min-width: 680px) {
	#profile-sections:has(> div #profile-pic) {
		flex-direction: row;
		gap: 2rem;

		> :first-child {
			flex-direction: column;
		}

		> #profile-about {
			min-width: 100px;
			max-width: 60%;
		}
	}
}
