section#profile {
	padding-top: 0;
	padding-bottom: 1rem;
	margin-top: 0.5rem;

	#created-at {
		margin-top: 0;

		span {
			margin-right: 1ch;
		}
	}

	> #profile-sections {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		> :first-child {
			display: flex;
			min-width: fit-content;
		}
	}
}

section#profile:has(#profile-pic) #created-at {
	margin-bottom: 1rem;
}

@media (min-width: 680px) {
	#profile-sections:has(> div #profile-pic) {
		flex-direction: row;
		gap: 4rem;

		> :first-child {
			flex-direction: column;
		}

		> #profile-about {
			min-width: 100px;
			max-width: 60%;
		}
	}
}
