<svg id="search-diagram-wide" xmlns="http://www.w3.org/2000/svg" width="651" height="431" viewBox="-0.5 -0.5 651 431">
    <g data-cell-id="WIyWlLk6GJQsqaUBKTNV-0">
      <g data-cell-id="WIyWlLk6GJQsqaUBKTNV-1">
        <g data-cell-id="WIyWlLk6GJQsqaUBKTNV-3">
          <path fill="#cce5ff" stroke="#7ea6e0" d="M190 0h180v60H190z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:178px;height:1px;padding-top:30px;margin-left:191px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <font>
                        search FITM:
                      </font>
                    </div>
                    <div>
                      <font>
                        <b>
                          cats
                        </b>
                        : &quot;Internet&quot;, &quot;cloud hosting&quot;
                        <div>
                          <b>
                            period
                          </b>
                          : &quot;month&quot;
                        </div>
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="280" y="34" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">search FITM:...</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--3">
          <path fill="#18141D" stroke="#F0F0F0" d="M40 90h220v30H40z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:218px;height:1px;padding-top:105px;margin-left:41px">
                <div data-drawio-colors="color: rgb(240, 240, 240);" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#f0f0f0;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    Match &quot;Internet&quot; AND &quot;cloud hosting&quot;
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="150" y="109" fill="#F0F0F0" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">Match &quot;Internet&quot; AND &quot;cloud hosting&quot;</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M146.48 90Q140 30 190 30" data-cell-id="GXFUV9aHLLq_5PYO7xo--5" pointer-events="stroke"/>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--8">
          <path fill="#18141D" stroke="#F0F0F0" d="M300 90h150v30H300z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:148px;height:1px;padding-top:105px;margin-left:301px">
                <div data-drawio-colors="color: rgb(240, 240, 240);" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#f0f0f0;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    Match within last month
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="375" y="109" fill="#F0F0F0" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">Match within last month</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M240.4 61.14Q240 80 310 75t71.75 15" data-cell-id="GXFUV9aHLLq_5PYO7xo--9" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M150 120q10 20 40 15t35 15" data-cell-id="GXFUV9aHLLq_5PYO7xo--12" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M325 150q15-10 40-5t21.1-25.15" data-cell-id="GXFUV9aHLLq_5PYO7xo--13" pointer-events="stroke"/>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--14">
          <path fill="#ffe6cc" stroke="#d79b00" d="M225 150h100v30H225z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:165px;margin-left:226px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font>
                      matching links
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="275" y="169" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">matching links</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--15">
          <path fill="#cf9" stroke="#97d077" d="M0 200h240v80H0z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:238px;height:1px;padding-top:240px;margin-left:1px">
                <div data-drawio-colors="color: #ffffff;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#fff;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font color="#000" style="font-size:11px">
                      <b>
                        https://www.netlify.com
                      </b>
                    </font>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &#123;
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <span style="white-space:pre"/>
                        <b>
                          cats
                        </b>
                        : &quot;Internet&quot;, &quot;cloud hosting&quot;, &quot;CDN&quot;,
                        <br/>
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <b>
                          submitted
                        </b>
                        : 09/01/24
                      </font>
                    </div>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &#125;
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="120" y="244" fill="#fff" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">https://www.netlify.com...</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--17">
          <path fill="#cf9" stroke="#97d077" d="M0 290h240v100H0z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:238px;height:1px;padding-top:340px;margin-left:1px">
                <div data-drawio-colors="color: rgb(240, 240, 240);" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#f0f0f0;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font color="#000" style="font-size:11px">
                      <b>
                        https://www.cloudflare.com
                      </b>
                    </font>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <span style="white-space:pre"/>
                        <b>
                          cats
                        </b>
                        : &quot;Internet&quot;, &quot;cloud hosting&quot;, &quot;CDN&quot;, &quot;security&quot;, &quot;DNS&quot;, &quot;reverse proxy&quot;,
                        <br/>
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <b>
                          submitted
                        </b>
                        : 09/21/24
                      </font>
                    </div>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="120" y="344" fill="#F0F0F0" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">https://www.cloudflare.com...</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--18">
          <path fill="#cf9" stroke="#97d077" d="M0 400h240v30H0z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:238px;height:1px;padding-top:415px;margin-left:1px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font>
                      etc.
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="120" y="419" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">etc.</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--20">
          <path fill="#ffcce6" stroke="#996185" d="M332.5 250h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:260px;margin-left:334px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <b style="font-size:11px;background-color:initial">
                        CDN (2)
                      </b>
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="383" y="264" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">CDN (2)
  </text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M120 200q0-40 80-15t75-5" data-cell-id="miXk8wEFxccgfctA4Ab4-3" pointer-events="stroke"/>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-5">
          <path fill="#ffe6cc" stroke="#d79b00" d="M325 200h115v30H325z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:113px;height:1px;padding-top:215px;margin-left:326px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font>
                      top subcats
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="383" y="219" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">top subcats</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-7">
          <path fill="#ffcce6" stroke="#996185" d="M332.5 280h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:290px;margin-left:334px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        <b>
                          DNS (1)
                        </b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="383" y="294" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">DNS (1)</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-8">
          <path fill="#ffcce6" stroke="#996185" d="M332.5 310h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:320px;margin-left:334px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        <b>
                          reverse proxy (1)
                        </b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="383" y="324" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">reverse proxy (1)</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-9">
          <path fill="#ffcce6" stroke="#996185" d="M332.5 340h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:350px;margin-left:334px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        <b>
                          security (1)
                        </b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="383" y="354" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">security (1)</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-10">
          <path fill="#ffcce6" stroke="#996185" d="M332.5 370h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:380px;margin-left:334px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        etc.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="383" y="384" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">etc.</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M242.4 247.6Q280 250 295 232.5t30-17.5" data-cell-id="miXk8wEFxccgfctA4Ab4-11" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M241.44 343.4Q290 350 275 282.5t50-67.5" data-cell-id="miXk8wEFxccgfctA4Ab4-12" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M240 415q70 5 50-100t35-100" data-cell-id="miXk8wEFxccgfctA4Ab4-13" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M382.5 250v-20" data-cell-id="miXk8wEFxccgfctA4Ab4-14" pointer-events="stroke"/>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-15">
          <path fill="#cce5ff" stroke="#7ea6e0" d="M470 350h180v60H470z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:178px;height:1px;padding-top:380px;margin-left:471px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <font>
                        search FITM:
                      </font>
                    </div>
                    <div>
                      <b>
                        cats
                      </b>
                      : &quot;Internet&quot;, &quot;cloud hosting&quot;, &quot;CDN&quot;, &quot;reverse proxy&quot; ...
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="560" y="384" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">search FITM:...</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M560 350q10-140-120-135" data-cell-id="miXk8wEFxccgfctA4Ab4-16" pointer-events="stroke"/>
      </g>
    </g>
</svg>

<svg id='search-diagram-narrow' xmlns="http://www.w3.org/2000/svg" width="286" height="338" viewBox="-0.5 -0.5 381 451">
    <g data-cell-id="WIyWlLk6GJQsqaUBKTNV-0">
      <g data-cell-id="WIyWlLk6GJQsqaUBKTNV-1">
        <g data-cell-id="WIyWlLk6GJQsqaUBKTNV-3">
          <path fill="#cce5ff" stroke="#7ea6e0" d="M100 0h180v60H100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:178px;height:1px;padding-top:30px;margin-left:101px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <font>
                        search FITM:
                      </font>
                    </div>
                    <div>
                      <font>
                        <b>
                          cats
                        </b>
                        : &quot;Internet&quot;, &quot;cloud hosting&quot;
                        <div>
                          <b>
                            period
                          </b>
                          : &quot;month&quot;
                        </div>
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="190" y="34" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">search FITM:...</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--3">
          <path fill="#18141D" stroke="#F0F0F0" d="M0 70h220v30H0z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:218px;height:1px;padding-top:85px;margin-left:1px">
                <div data-drawio-colors="color: rgb(240, 240, 240);" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#f0f0f0;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    Match &quot;Internet&quot; AND &quot;cloud hosting&quot;
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="110" y="89" fill="#F0F0F0" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">Match &quot;Internet&quot; AND &quot;cloud hosting&quot;</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M66 69q-6-39 34-39" data-cell-id="GXFUV9aHLLq_5PYO7xo--5" pointer-events="stroke"/>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--8">
          <path fill="#18141D" stroke="#F0F0F0" d="M230 70h150v30H230z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:148px;height:1px;padding-top:85px;margin-left:231px">
                <div data-drawio-colors="color: rgb(240, 240, 240);" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#f0f0f0;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    Match within last month
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="305" y="89" fill="#F0F0F0" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">Match within last month</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M280 50q30 0 31.75 20" data-cell-id="GXFUV9aHLLq_5PYO7xo--9" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M70.62 101.38Q70 110 80 115t30-5q20-10 30 0" data-cell-id="GXFUV9aHLLq_5PYO7xo--12" pointer-events="stroke"/>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M240 110q20-10 46.5 0t26.3-9.37" data-cell-id="GXFUV9aHLLq_5PYO7xo--13" pointer-events="stroke"/>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--14">
          <path fill="#ffe6cc" stroke="#d79b00" d="M140 110h100v30H140z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:125px;margin-left:141px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font>
                      matching links
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="190" y="129" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">matching links</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--17">
          <path fill="#cf9" stroke="#97d077" d="M8.75 240h240v100h-240z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:238px;height:1px;padding-top:290px;margin-left:10px">
                <div data-drawio-colors="color: rgb(240, 240, 240);" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#f0f0f0;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font color="#000" style="font-size:11px">
                      <b>
                        https://www.cloudflare.com
                      </b>
                    </font>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#123;
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <span style="white-space:pre"/>
                        <b>
                          cats
                        </b>
                        : &quot;Internet&quot;, &quot;cloud hosting&quot;, &quot;CDN&quot;, &quot;security&quot;, &quot;DNS&quot;, &quot;reverse proxy&quot;,
                        <br/>
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <b>
                          submitted
                        </b>
                        : 09/21/24
                      </font>
                    </div>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="129" y="294" fill="#F0F0F0" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">https://www.cloudflare.com...</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--20">
          <path fill="#ffcce6" stroke="#996185" d="M263.75 190h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:200px;margin-left:265px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <b style="font-size:11px;background-color:initial">
                        CDN (2)
                      </b>
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="314" y="204" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">CDN (2)
  </text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M164.99 150.56 165 140" data-cell-id="miXk8wEFxccgfctA4Ab4-3" pointer-events="stroke"/>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-7">
          <path fill="#ffcce6" stroke="#996185" d="M263.75 220h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:230px;margin-left:265px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        <b>
                          DNS (1)
                        </b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="314" y="234" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">DNS (1)</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-8">
          <path fill="#ffcce6" stroke="#996185" d="M263.75 250h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:260px;margin-left:265px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        <b>
                          reverse proxy (1)
                        </b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="314" y="264" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">reverse proxy (1)</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-9">
          <path fill="#ffcce6" stroke="#996185" d="M263.75 280h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:290px;margin-left:265px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        <b>
                          security (1)
                        </b>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="314" y="294" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">security (1)</text>
          </switch>
        </g>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-10">
          <path fill="#ffcce6" stroke="#996185" d="M263.75 310h100v20h-100z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:98px;height:1px;padding-top:320px;margin-left:265px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <span style="font-size:11px">
                        etc.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="314" y="324" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">etc.</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M313.75 190v-10" data-cell-id="miXk8wEFxccgfctA4Ab4-14" pointer-events="stroke"/>
        <g data-cell-id="miXk8wEFxccgfctA4Ab4-15">
          <path fill="#cce5ff" stroke="#7ea6e0" d="M183.75 390h180v60h-180z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:178px;height:1px;padding-top:420px;margin-left:185px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <div>
                      <font>
                        search FITM:
                      </font>
                    </div>
                    <div>
                      <b>
                        cats
                      </b>
                      : &quot;Internet&quot;, &quot;cloud hosting&quot;, &quot;CDN&quot;, &quot;reverse proxy&quot; ...
                      <br/>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="274" y="424" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">search FITM:...</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M273.75 390q.25-30 20.25-30t19.75-30" data-cell-id="miXk8wEFxccgfctA4Ab4-16" pointer-events="stroke"/>
        <g data-cell-id="5NfaJh-X4NsIBk9-v2fu-0">
          <path fill="#ffe6cc" stroke="#d79b00" d="M256.25 150h115v30h-115z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:113px;height:1px;padding-top:165px;margin-left:257px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font>
                      top subcats
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="314" y="169" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">top subcats</text>
          </switch>
        </g>
        <g data-cell-id="5NfaJh-X4NsIBk9-v2fu-3">
          <path fill="#cf9" stroke="#97d077" d="M8.75 350h240v30h-240z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:238px;height:1px;padding-top:365px;margin-left:10px">
                <div data-drawio-colors="color: #000000;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#000;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font>
                      etc.
                    </font>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="129" y="369" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">etc.</text>
          </switch>
        </g>
        <g data-cell-id="GXFUV9aHLLq_5PYO7xo--15">
          <path fill="#cf9" stroke="#97d077" d="M8.75 150h240v80h-240z" pointer-events="all"/>
          <switch transform="translate(-.5 -.5)">
            <foreignObject width="100%" height="100%" pointer-events="none" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" style="overflow:visible;text-align:left">
              <div style="display:flex;align-items:unsafe center;justify-content:unsafe center;width:238px;height:1px;padding-top:190px;margin-left:10px">
                <div data-drawio-colors="color: #ffffff;" style="box-sizing:border-box;font-size:0;text-align:center">
                  <div style="display:inline-block;font-size:12px;font-family:Helvetica;color:#fff;line-height:1.2;pointer-events:all;white-space:normal;overflow-wrap:normal">
                    <font color="#000" style="font-size:11px">
                      <b>
                        https://www.netlify.com
                      </b>
                    </font>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &#123;
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <span style="white-space:pre"/>
                        <b>
                          cats
                        </b>
                        : &quot;Internet&quot;, &quot;cloud hosting&quot;, &quot;CDN&quot;,
                        <br/>
                      </font>
                    </div>
                    <div style="font-size:11px">
                      <font color="#000" style="font-size:11px">
                        <b>
                          submitted
                        </b>
                        : 09/01/24
                      </font>
                    </div>
                    <div style="text-align:left;font-size:11px">
                      <font color="#000" style="font-size:11px">
                        &#125;
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </foreignObject>
            <text x="129" y="194" fill="#fff" font-family="&quot;Helvetica&quot;" font-size="12" text-anchor="middle">https://www.netlify.com...</text>
          </switch>
        </g>
        <path fill="none" stroke="#F0F0F0" stroke-miterlimit="10" d="M313.75 150q.25-30-73.75-25" data-cell-id="5NfaJh-X4NsIBk9-v2fu-7" pointer-events="stroke"/>
      </g>
    </g>
  </svg>

<style>
    svg {
        display: block;
        margin: 2rem auto;
    }

    #search-diagram-wide {
        display: none;
    }

    @media (min-width: 450px) {
        #search-diagram-narrow {
            height: 451px;
            width: 381px;
        }
    }

    @media (min-width: 680px) {
        #search-diagram-narrow {
            display: none;
        }
        #search-diagram-wide {
            display: block;
        }
    }
</style>