---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='Page Not Found'>
    <main>
        <h1>404 Page not found</h1>
        <p>
            <a id="go-home" title="Go home" href="/">
                <img src='../../back.svg' height={18} width={18} />
                Go home
            </a>
        </p>
    </main>
</BaseLayout>

<style>
    a#go-home {
        display: flex;
        align-items: center;
        gap: 5px;
        width: fit-content;
    }
</style>