---
import NoFooter from '../layouts/NoFooter.astro'
---

<NoFooter Title='Internal Server Error'>
<main>
    <h1>500 Oops</h1>
    <p>Modeep's server screwed up while processing your request. Sorry about that.</p>
    <p>If you can consistently recreate this condition, please email <a href='mailto:support@modeep.org'>support@modeep.org</a> to share what you did.</p>
</main>
</NoFooter>