---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='Internal Server Error'>
<main>
    <h1>Oops (500 Response)</h1>
    <p>FITM's server screwed up while processing your request. Sorry about that.</p>
    <p>If you can consistently recreate this condition, please email <a href='mailto:fitm-contact@proton.me'>fitm-contact@proton.me</a> to share what you did.</p>
</main>
</BaseLayout>