---
import cornucopia from '../images/cornucopia.webp'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
		<h1>About</h1>
		<img id="cornucopia" src={cornucopia.src} title="In this elaborate feast, every guest finds something delicious." />
		<section>
			<p>With such ability to introduce knowledge, joy, curiosity, beauty, and meaning to all manner of inhabitants, the Internet is unequivocally awesome. Yet much potential is lost due to poor record keeping. It should be easy to explore and enjoy what this place has to offer.</p>

			<p>
				The <span id="fitm">Flexible Internet Treasure Map (FITM)</span> marks the hiding places of treasured links found by brave web wanderers. Its mission is to help everyone find more of what they love by revealing pathways to known favorites.
			</p>

			<p>Links are ranked according to aggregate user feedback and can be flexibly organized by associated categories and properties.</p>

			<p>
				<em>Treasure</em> can mean anything with a URL. Whatever you think is worth knowing about. FITM provides a template for recording and retrieving any remarkable online item.
			</p>

			<p>
				<a href="/about/how">How FITM Works</a>
			</p>
		</section>

		<section>
			<h2>Intended Benefits</h2>

			<p>Compared to other search methods...</p>

			<ul>
				<li>Objective, relevant outputs. Links found in search results are ones real people liked the most, and all preferences are weighed equally. Factors like link age that sneakily influence other recommendation systems are ignored here unless explicitly engaged through filters.</li>

				<li>Highly specific search options. Matching <em>all</em>&mdash;not <em>any</em>&mdash; of your keywords (<a href="/about/how#cats">cats</a>). In exchange for not getting an endless recommendation stream, you get sniper-like concentration on the most noteworthy handful.</li>

				<li>No distractions. FITM is more like a library or art gallery than a bar&mdash;an efficient pipeline to accessing the documented world. No pesky ads or being inundated by unsolicited garbage. You're encouraged to effortlessly locate specific material using specialized search tools, or to wander among new ideas and explore what provokes interest. Either way, casual communication is not only <em>not necessary</em>, it would clutter and diminish the simple purity that makes FITM searches effective.</li>
			</ul>
		</section>

		<section>
			<h2>We Want to Hear From You</h2>

			<p>Broad input helps all kinds of people discover and enjoy web treasures.</p>

			<p>So, show off something great you've found! If you like it, someone else will too.</p>
		</section>
	</main>
</BaseLayout>

<style>
	section {
		padding: 1rem 0;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
	}

	span#fitm {
		font-weight: bold;
	}

	ul {
		margin-bottom: 0;
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}
	}
</style>
