---
import cornucopia from '../images/cornucopia.webp'
import WithFooter from '../layouts/WithFooter.astro'
---

<WithFooter Title='What is Modeep? Why might you care?'>
	<main>
		<h1>The Internet rocks.</h1>

		<p style='text-align: center;'>This site is to help the best parts reach people who would love them.</p>

		<img
			id='cornucopia'
			src={cornucopia.src}
			title='In this elaborate feast, every guest finds something delicious.'
		/>

		<section style='padding-top: 0;'>
			<p>
				Our precious treasure trove constantly introduces knowledge, joy, curiosity, beauty, and meaning to all
				manner of visitors. An ocean of opportunity connecting interests quickly and cheaply to the most
				appropriate and extraordinary resources for them available anywhere in the world, an exclusive
				21st-century privilege.
			</p>

			<p>
				<strong>Yet, it's easy to miss personally and broadly indispensable things.</strong>.
			</p>
		</section>

		<section>
			<h2>
				MODEEP: <span style='font-weight: normal;'
					>MOdular filtration and Decentralized Evaluation of EPic internet treasure</span
				>
			</h2>

			<p>
				Modeep marks the hiding places of treasured links found by brave web wanderers. It's purpose is to
				curate, organize, and help you discover great things online that engage your heart and mind.
			</p>

			<p>
				<strong>Epic internet treasure</strong> can be anything anyone cares about. Any topic is fair game, and importantly,
				any <em>combination of topics</em> can be dynamically indexed.
			</p>

			<p>
				Recommendations are produced by an open user base and its consensus, to the extent that that's possible.
				There's still an algorithm, but it's minimal, <a href='https://github.com/julianlk522/modeep-backend'
					>open source</a
				>, and deliberately <a href='/about/how#global-tag-calculation'>transparent</a>. Links are evaluated by
				simple, predictable rules and aggregate feedback interactions like clicks, stars, and <a
					href='/about/how#cats'>cat</a
				> assignments.
			</p>

			<p>
				<a href='/about/how'>Learn more</a>
			</p>
		</section>

		<section>
			<h2>Benefits</h2>

			<ul>
				<li>
					<strong>Objective, relevant recommendations.</strong> Link sorting and ranking are decided by cumulative
					user interactions and other simple metadata, not an opaque algorithm. Filtering to match various conditions
					is easy and reliable because searches do exactly what they say they do, nothing more, nothing less. Finding
					what most people recommend for something is very easy: by default, the most-liked (starred) links from
					any search go first. Because fairness and accountability are crucial in this exchange, Modeep is <a
						href='https://github.com/julianlk522/modeep-backend'>open</a
					> and made to be easily understood.
				</li>

				<li>
					<strong>Maximal search precision.</strong> Matching <em>all</em>&mdash;not <em>any</em>&mdash; of
					your keywords (cats). In exchange for not getting an endless feed to scroll, you get sniper-like
					concentration on the few most truly noteworthy items for your inquiry. Incrementally adding or
					removing specificity by <a href='/about/how#stacking-cats'>stacking</a> or un-stacking cats lets you
					fine-tune the breadth of your searches to be just right.
				</li>

				<li>
					<strong>No distractions.</strong> Modeep is more like a library or art gallery than a bar&mdash;an efficient
					pipeline for accessing the documented world. No being inundated with obnoxious ads or other unsolicited
					fluff. You're encouraged to effortlessly locate specific material using specialized search tools, or
					to wander amid new ideas and see what looks interesting. Comments, direct messaging, and other fun but
					inappropriate attention-callers are absent to help make this a safe sanctuary for enjoying purposefully
					curated online delights.
				</li>
			</ul>
		</section>

		<section>
			<h2>Seen something great?</h2>

			<p>Broad input helps all kinds of people discover and enjoy web treasures.</p>

			<p>
				Consider <a href='/new'>showing off a cool thing you've found</a>. Anything at all. If you like it,
				someone else will too.
			</p>

			<p>Otherwise, sit back and enjoy the goodies!</p>
		</section>
	</main>
</WithFooter>

<style>
	section {
		padding: 1rem 0;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
		margin-bottom: 1rem;
	}

	ul {
		margin-bottom: 0;

		li {
			margin-top: 1rem;
		}
	}

	@media (min-width: 480px) {
		section {
			padding: 3rem 0 1rem;
		}
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}
	}
</style>
