---
import WithFooter from '../layouts/WithFooter.astro'
---

<WithFooter Title='What is Modeep? Who cares?'>
	<main>
		<h1>
			MODEEP: <span style='font-weight: normal;'
				>MOdular filtration and Decentralized Evaluation of EPic internet treasure</span
			>
		</h1>

		<section>
			<p>
				Modeep is an open source search engine optimized for precise visualization and traversal of manually
				curated, high-value Internet links.
			</p>
		</section>

		<section>
			<h2>Motivation</h2>

			<p>
				The Internet constantly introduces knowledge, joy, curiosity, beauty, and meaning to all manner of
				visitors. It holds an enormous sum of greatness and potential. <strong
					>Yet, it's so easy to miss fantastic and indispensable parts</strong
				>, particularly within specific niches and intersections of niches. Gems of imaginative genius and/or
				radical utility lie idle somewhere across an impenetrable ocean, ready to brighten your life but without
				the means to be noticed. They remain obscure and underappreciated, and their great potential is wasted.
				What a tragedy! Exceptional webpages deserve proper commemoration, for their own sake and for yours.
			</p>

			<p>
				To fix this, the highlights need to be documented and indexed. But crawling and algorithmically indexing
				has not worked for 2 important reasons:
			</p>

			<ol>
				<li>
					<strong
						>Misjudging the tradeoff between breadth and accuracy, and offering too little control over it</strong
					>. It's not helpful to get 1,000,000+ pages of results. Nobody is looking through all that. Nor
					should they because it doesn't make sense: there aren't 1,000,000 relevant pages for anything. Only
					very vague topics, e.g., "funny" are that broad, and why settle for vagueness? It would be easier to
					just be more specific about what you want ("funny" and "gaming" and "fails", ...) so you can rule
					out and skip poor matches. Literally, you <em>can</em> search "funny gaming fails" in most search engines,
					but there's no guarantee that the output will be exclusive to that intersection of themes. We routinely
					are forced to under-specify due to lack of precise parameters, get way too many results, ignore 99.9999%
					of them and select from the first few, and finally accept something that fails to capture the full intent
					of our request. That's dumb! It's more helpful and efficient to prioritize accuracy. However it's nice
					to be able to browse: to start with a broad scope and narrow it progressively based on what's available.
					The best of both worlds is to provide flexible search precision, where it can be scaled up or down through
					optional parameters to meet changing needs.
				</li>

				<li>
					<strong>A single point of failure</strong>. Even if relevancy to <em>all</em> keywords were guaranteed,
					any keywords said to be associated with a link, and any determination of its quality, are still just
					<em>what the crawler / algorithm unilaterally decides</em>, which is only tenuously reliable. A
					sample size of one gives an incomplete representation of the whole of anything, even if it's a
					high-quality source, and a voracious web crawler is no exception. Important choices (like choosing
					the best resource) warrant multiple perspectives to guarantee accuracy. Which perspectives are worth
					considering? It depends, and it's good to have options. Sometimes consensus is preferred so you
					might consider everyone's inputs equally. Sometimes it's better for a subjective expert to answer a
					more subjective request, e.g., for something really funny, what does the funniest person you know
					recommend? It may have nothing to do with expertise: your best friend knows you well and you trust
					them, what do <em>they</em> think is valuable? Their picks are likely worth more to you than the tellings
					of a program which cannot conceive of your complex personhood. Regardless of subjectivity, corroborated
					results give the most certainty. If you want the "funniest dog video ever," to you, would you rather
					ask your 1 search engine of choice or 10 close friends?
				</li>
			</ol>
		</section>

		<section>
			<h2>How <em>should</em> a search engine work?</h2>

			<ul>
				<li>
					Draw from links curated directly by Internet users, ranked by how much they have been publicly
					vouched for.
				</li>

				<li>
					Infinitely many subjective search views: letting people decide link ratings and classifications
					which can then be either independently explored or amalgamated into explorable global
					averages/aggregates.
				</li>

				<li>Fine-grained search parameters, which can be scoped to subjective or global views.</li>

				<li>
					Snapshots of the most frequent themes from within specific search results for real-time, high-level
					overviews of active subcategories.
					<ul>
						<li>
							with a simple interface for including and excluding subcategories, for rapid incremental
							specificity adjustments.
						</li>
					</ul>
				</li>

				<li>
					<a href='https://github.com/julianlk522/modeep-backend'>Open source</a> engine.
				</li>

				<li>Not polluting the experience with paid placement or other ad garbage.</li>
			</ul>

			<p>Now that's more like it!</p>

			<br />

			<p>
				Good news: that's Modeep in a nutshell. It was built to organize and improve the accessibility of
				high-value resources, while maintaining transparency, accuracy, subjectivity, and minimal noise.
			</p>

			<p></p>
			<p>
				<a href='/about/how'>Learn more</a> about how it works.
			</p>
		</section>

		<section>
			<h2>Seen something great?</h2>

			<p>
				Consider <a href='/new'>showing off a cool thing you found</a>. Anything at all. If you like it then
				someone else would too, and you could make their day by sharing it.
			</p>

			<p>Otherwise sit back and enjoy the treasure!</p>
		</section>
	</main>
</WithFooter>

<style>
	section {
		padding: 1rem 0;
	}

	p,
	li {
		font-size: 1.1rem;
	}

	ul,
	ol {
		margin-bottom: 0;

		li {
			margin-top: 1rem;
		}
	}

	@media (min-width: 480px) {
		section {
			padding: 2rem 0;
		}
	}
</style>
