---
import GlobalTagCalcDiagram from '../components/About/GlobalTagCalcDiagram.astro'
import SearchDiagram from '../components/About/SearchDiagram.astro'
import ScrollUp from '../components/ScrollUp.astro'
import cornucopia from '../images/cornucopia.webp'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
		<h1>About</h1>
		<img id="cornucopia" src={cornucopia.src} title='There is a rich spread of flavors to be found in the web. Whoever you are, there is much for you to enjoy.' />
		<section>
			<p>
				The <strong>Flexible Internet Treasure Map (FITM)</strong>
				is a web content database and dynamic, consensus-driven ranking machine. On it you can share precious links or easily filter through already-shared ones. Its goal is to connect Internet users with more of what they love while skipping anything else.
			</p>

			<p>Links can be <em>flexibly</em> organized and browsed using a variety of properties as filters.</p>

			<p>
				<em>Treasure</em> is intentionally vague. You are encouraged to share or discover anything on the Internet that's worth sharing or
				discovering.
			</p>

			<p>It is an attempted solution to
				the challenges of high obscurity and poor discoverability
				of Internet greatness, new and old.</p>
		</section>

		<section>
			<h2>How FITM Works</h2>

			<h3 id="cats" class="subsection">Cats?</h3>
			<p><em>"Cats"</em> are an important concept here. It&apos;s a shorthand for <em><a href="#tags">tag categories</a></em>. Cats are also a <a href="https://en.wikipedia.org/wiki/I_Can_Has_Cheezburger%3F">historically prominent Internet symbol</a>, so it seems fitting that they'd be a part of FITM. Don't be alarmed by mention of "stacking cats"; no animals were harmed in creating this site.</p>

			<p>Submitted links are tagged with 1+ cats. You can apply cat filters in searches to request only links that match some theme(s). All links returned in a search will have the cats you specify and (likely some others).</p>

			<p>The most common cats from the links returned by your search are listed along with them. Searches with cat filters return top <em>subcats</em>. These are the most common cats from the returned links, not including the ones you specified.</p>

			<p>You can also filter results by time period (last day, week, month, or year) and choose whether you want results that are tagged "<abbr title="Not Safe For Work">NSFW</abbr>" included. NSFW is always opt-in; you won't see it unless you ask.</p>

			<SearchDiagram />

			<h3 id="core-actions" class="subsection">Core Actions</h3>
			<ol>
				<li><strong>Summarize</strong></li>
				<li><strong>Copy</strong></li>
				<li><strong>Like</strong></li>
				<li><strong>Tag</strong></li>
			</ol>

			<h3 class="subsection">Summarize</h3>
			<p>
				Every link has a summary page where any user can
				submit a description of its content. Summaries can be upvoted so the most liked ones are most visible.
			</p>
			<p>
				A link's top summary will be shown above its URL at all times to
				quickly give a sense for what it is.
			</p>

			<h3 class="subsection">Copy</h3>
			<p>
				<strong>Copying</strong> links to your Treasure Map improves
				discoverability via proliferation. It allows you to easily find a
				link again or let others find it by reading your Treasure Map.
			</p>

			<h3 class="subsection">Like</h3>
			<p>
				<strong>Liking</strong> improves discoverability via corroboration.
				It's a way to vouch for a link's "goodness" (comprehensiveness, authenticity, hilarity, whatever).
			</p>
			<p>
				Liking helps great content appear closer to the top of searches,
				so anyone can find it easily.
			</p>

			<h3 id="tags" class="subsection">Tag</h3>
			<p>
				<strong>Tagging</strong> links improves discoverability
				via filtration. A tag is a list of categories (cats) for a link, chosen by you. It's your interpretation of the topics that the link may be associated with, or terms that you expect someone interested in the link may search for.
			</p>
			<p>
				We need not agree on the most accurate cat(s) for all links. Each user's take matters, and can be found by viewing their Treasure Map.
			</p>
		</section>
		<section>
			<h3> The Global Treasure Map and Global Tags</h3>
			<p>
				Any <em>user-submitted tag</em> (cats assigned to a link)
				decides how the link is sorted on the tag author's Treasure Map. But every link also has a <em>global tag</em>,
				which determines its sorting on the <a href='/top'>Top</a
			> and <a href='/more'>More</a> pages.
			</p>
			<p><em>Global tags</em> are calculated automatically by the age of every
			<em>user-submitted tag</em> and the frequency of each cat across
			them. They're shown with each link. (Unless, again, the link is viewed from a user's Treasure Map; then it will show <em>their</em> tag.) You can view any link's top user-submitted tags on demand.</p>

			<p>Each user-submitted tag shows its <em>lifespan overlap percentage</em> (see <a href="#global-tag-calculation">Global Tag Calculation</a>), author, date of submission, and cats. Tags that have kept the same combination of cats for the greatest portion of the link's lifespan are ranked highest. Editing a tag's cats will reset it's lifespan overlap percentage.</p>

			<p>To clarify, a link's global cats will not necessarily be exclusive to its highest-ranked tags. If many newer tags contain some cats that are not already present in the global tag, it's likely that those too will soon be assigned.</p>

			<p>This system is based on the assumption that cat interpretations that remain unedited
			for a long time or that reappear across tags are most likely to be the best fits.</p>

			<p>A long-unchanged tag could still be a poor representation, but if enough people disagree and submit alternative tags their collective input will nullify it; the old tag's cats will likely be removed from the link's global tag.</p>
		</section>

		<section>
			<h2>Why Use It?</h2>

			<p>The bottom line is that the astounding potential of the web to  improve our lives is nearly always wasted due to poor discoverability, but FITM can change that.</p>

			<h3 class="subsection">Search Engines</h3>
			<p>
				They help index the web but they don't think like real people, and they're biased, so recommendations are a toss-up.
			</p>
			<p>
				Depending on your definition of quality, <abbr title="Search Engine Optimization">SEO</abbr> <a href="https://backlinko.com/google-ranking-factors#top-8">these days</a> may or may not be relevant.
				Great links may be absent in search results because they're not aggressively stuffed with <a href="https://en.wikipedia.org/wiki/Keyword_research">keywords</a>, or they're not associated with a known <a href="https://digitalbrandinginstitute.com/improve-brand-signals-better-seo#:~:text=What%20Are,Signals?">brand</a>. Or, maybe a site appears only if you search with the perfect combination of words but seldom otherwise. You can never find something <a href="https://presidentialham.com/">like this</a> (safe for work) unless you already know about it, which defeats some of the purpose of searching.
			</p>
			<p>
				They're also incentivized to promote results with connections to paying entities. Maybe it's a
				feature, not a bug, depending on who you ask. Does marketing reliably signal "good" content? If you're not sure, you may be in the right place. (You will never see ads on FITM).
			</p>
			<p>
				A simple-enough, reliable-enough method to tell a link's "good"ness is the number of
				<em>people</em> who decide, for any reason, to upvote it. Then it's easy to find good content by browsing the most liked things.
			</p>
			<p>
				Sorting by likes is not enough, though. That's why you can also parameterize searches with <em><a href="#cats">cat-stacking</a></em> and other sorting and filtering first.
			</p>

			<h3 class="subsection">Reddit</h3>
			<p>
				Some might argue that the goal of categorizing web content was achieved long ago by Reddit.
			</p>
			<p>
				Reddit is an invaluable resource
				and a blessing. It's an inspiration to FITM. But they have different purposes.
			</p>
			<ul>
				<li>
					<p>
						Reddit is mainly a communication hub while FITM is more like a content database. It's not meant for thematic
						discussion, only link sharing and
						discovery. (With a few <a href="#core-actions">text submission actions</a> in support of that goal.)
					</p>
				</li>
				<li>
					<p>
						Subreddits are communities defined by one main theme. But FITM helps you find anything that spans multiple particular themes through cat-stacking.
					</p>
					<p>
						Most web
						searches implicitly treat keywords like they're separated with "OR" when what you often want is for them to be separated with "AND." History AND comedy AND music AND videos. Anything that is <em>all</em> of those, please. That search might lead you directly to <a href="https://www.youtube.com/watch?v=qv6OOuPI5c0">this gem</a>. (NSFW but watch when you get home, you'll be glad you did.)
					</p>
				</li>
			</ul>
		</section>

		<section>
			<h2>So, Show Off Your Treasure!</h2>

			<p>With the diverse input of many knowledgeable citizens of the Internet, we can build and enjoy a comprehensive, dependable recommendation machine powered by human consensus. The best of everything ever documented online, made easy for you to search to your heart's desire.</p>

			<p>Add one of your favorite links, give it a tag with some cats that you think are good fits, and give your online friends something new to enjoy today and forever after.</p>
		</section>

		<section>
			<h2>Additional Notes</h2>

			<h3 id="global-tag-calculation" class="subsection">Global Tag Calculation</h3>
			<p>Note: <a href="/feedback">constructive criticism welcomed</a> for this system.</p>
			<p>For a cat to be added to link <code>L</code>'s global tags, it's <em>score</em> must be &ge;25% of the highest score among <code>L</code>'s cats.</p>
			<p><em>Scores</em> for cat <code>C</code> of link <code>L</code> are calculated as the sum of scores from each occurrence of <code>C</code> in one of <code>L</code>'s tags. Each score is weighted by the number of cats in the tag containing the occurrence.</p>
			<p>Weights for tag <code>T</code> are calculated as <em>lifespan overlap percentage</em> of <code>T</code>, divided by <code>T</code>'s number of cats. </p>
			<p>Lifespan overlap percentage for tag <code>T</code> of link <code>L</code> is the percentage of <code>L</code>'s time on FITM that  <code>T</code> has remained in its current state since creation or last edit.</p>

			<GlobalTagCalcDiagram />

			<h3 id="retrieving-metadata" class="subsection">Retrieving Metadata</h3>
			<p>FITM employs <em>very limited</em> use of automated website scraping to fetch <a href="https://ogp.me/">Open Graph</a> metadata for submitted links. These requests can be identified by the <strong>FITM-Bot</strong> user agent.</p>

			<p>A max of 1-3 automated requests go out to each submitted URL (FITM-Bot tries different protocol prefixes, e.g., "https://" and "http://", if the first request fails). This automated scraping helps to cut down on link submission friction and pair links with eye-catching preview images. The goal is ultimately to promote appreciation for good, public Internet sites by improving their visibility.</p>

			<p><strong>Anyone can have their domain added to a non-scrape list upon request, with no further questions</strong>. Please send an email to <a href="mailto:support@fitm.online">support@fitm.online</a> if you'd like that. It would be an odd decision though. The traffic is miniscule, and the point of sites being on FITM is to help them get more visitors. Wouldn't you want more visitors?</p>
		</section>

		<ScrollUp />
	</main>
</BaseLayout>

<style>
	section {
		padding: 2rem 0;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
	}

	h3#what-if {
		margin-bottom: 3rem;
	}

	img#search-diagram-narrow,
	img#search-diagram {
		margin-top: 2rem;
		max-height: 500px;
	}

	img#search-diagram {
		display: none;
	}

	.subsection {
		margin-top: 2rem;
	}

	section h2 + h3.subsection {
		margin-top: 0;
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}

		img#search-diagram-narrow {
			display: none;
		}

		img#search-diagram {
			display: block;
		}
	}
</style>
