---
import cornucopia from '../images/cornucopia.webp'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
		<h1>About</h1>
		<img id="cornucopia" src={cornucopia.src} title="The elaborate feast offers all kinds of flavors. Every guest finds something to enjoy." />
		<section>
			<p>The web has profound potential to introduce knowledge, joy, curiosity, beauty, and meaning to its users. It ought to be easier to explore.</p>

			<p>
				The <strong>Flexible Internet Treasure Map (FITM)</strong> reveals treasured links documented by the public. Its mission is to help everyone find more of what they love by proliferating known favorites.
			</p>

			<p>Consensus opinion decides how links are ranked, and they're <em>flexibly</em> organizable by associated categories and properties.</p>

			<p>
				<em>Treasure</em> can mean anything, whatever is worth sharing and being found. FITM provides a template for recording and easily navigating such gems.
			</p>

			<p>
				<a href="/about/how">How FITM Works</a>
			</p>
		</section>

		<section>
			<h2>Intended Benefits</h2>

			<p>Compared to other search methods...</p>

			<ul>
				<li>Unbiased, relevant outputs. Link suggestions are ones real people liked the most, and all preferences are weighed equally. How new a link is doesn't change how often it appears, unless you deliberately enable a submit date filter.</li>

				<li>Exact specificity about what material you encounter. Matching <em>all</em>&mdash;not <em>any</em>&mdash; of your search terms. In exchange for not having an endless recommendation stream, you get sniper-like concentration on the most noteworthy handful.</li>

				<li>Little casual communication. FITM is more akin to a museum or a travel guide than to a bar. It's a distraction-free pipeline to access the documented world.</li>
			</ul>
		</section>

		<section>
			<h2>We Want to Hear From You</h2>

			<p>Broad input helps all kinds of people discover and enjoy web treasures.</p>

			<p>So, show off something great you've found! If you like it, someone else probably would too.</p>
		</section>
	</main>
</BaseLayout>

<style>
	section {
		padding: 1rem 0;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}
	}
</style>
