---
import cornucopia from '../images/cornucopia.webp'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
		<h1>The Internet rocks.</h1>

		<section>
			<p>Our precious treasure trove introduces new knowledge, joy, curiosity, beauty, and meaning to all manner of inhabitants all the time. The web's ocean of opportunities connects interests quickly and cheaply to the most appropriate and outstanding resources for them available anywhere in the world, an exclusive 21st-century privilege.</p>

			<p>
				<strong>But it's so easy to miss indispensable things for your set of interests.</strong>
			</p>

			<p>To ensure all the awesomest stuff reaches anyone interested in it, information must be organized simply, predictably, and organically. This little site is to help with that.</p>

			<img id="cornucopia" src={cornucopia.src} title="In this elaborate feast, every guest finds something delicious." />

			<h2>FITM: Revealing Routes to Remarkable Riches and Resources</h2>

			<p>
				The <strong>Flexible Internet Treasure Map (FITM)</strong> marks the hiding places of treasured links found by brave web wanderers. It was created to help everyone enjoy more of what they love by making it easy to discover great Internet links. Use it to take full advantage of the amazing features of this wild cyber world that engage your heart and mind!
			</p>

			<p>Links are ranked according to aggregate user feedback and can be flexibly arranged according to associated <a href="/about/how#cats">cat(egorie)s</a> and other properties.</p>

			<p>
				<em>Treasure</em> can be anything that anyone thinks is worth knowing about. FITM uses a simple and versatile template for dynamically indexing remarkable online items.
			</p>

			<p>
				<strong>It's here to support you in living your life to the fullest, however that may be.</strong>
			</p>

			<p>
				<a href="/about/how">Learn how it works</a>
			</p>
		</section>

		<section>
			<h2>Benefits</h2>

			<ul>
				<li><strong>Objective, relevant recommendations.</strong> Link rankings correlate directly with cumulative user interactions, so highly-ranked links have reason to be trusted. Filtering to match various conditions is easy and reliable. Finding what most people recommend for some topic couldn't be simpler&mdash;by default, the most-liked links from any search go first. Because fairness and accountability are crucial in this exchange, FITM's ranking formula is open source and made to be easily understood. Searches do exactly what they say they'll do, nothing more, nothing less. Likes, copies, tags, etc. can all be verified using public data.</li>

				<li><strong>Maximal search precision.</strong> Matching <em>all</em>&mdash;not <em>any</em>&mdash; of your keywords (cats). In exchange for not getting an endless recommendation stream, you get sniper-like concentration on the most noteworthy handful. Incrementally adding or removing specificity by stacking or un-stacking cats allows you to fine-tune the breadth of your search results to be just right.</li>

				<li><strong>No distractions.</strong> FITM is more like a library or art gallery than a bar&mdash;an efficient pipeline for accessing the documented world. No being inundated with obnoxious ads or other unsolicited fluff. You're encouraged to effortlessly locate specific material using specialized search tools, or to wander amid new ideas and see what provokes interest. By design, there is very little social messaging. It's not necessary since conversational Internet guidance already exists and satisfies different needs, and it's antithetical to FITM's core purpose. Returning to the anology: bars are good for relaxed socializing; museums, being designed to allow focus, are better hubs for seeking new knowledge and experience. Museums wouldn't be conducive to focus if they contained live jam bands or TVs displaying wrestling highlights, and bars would suck if they insisted you be quiet or listen to a passage on the origins of Heineken before opening one. (Perhaps some would disagree.) FITM takes similar efforts to provide the appropriate conditions for ideal usage. Comments, direct messaging, and other fun but innapropriate attention-callers are neglected in order to provide you with purposefully curated online delights and the focus to thoroughly enjoy them.</li>
			</ul>
		</section>

		<section>
			<h2>Seen something cool recently?</h2>

			<p>Broad input helps all kinds of people discover and enjoy web treasures.</p>

			<p>Consider <a href="/new">showing off something great you've found</a>. Anything at all. If you like it, someone else will too.</p>

			<p>Otherwise, just sit back and enjoy the goodies!</p>
		</section>
	</main>
</BaseLayout>

<style>
	section {
		padding: 1rem 0;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
		margin-bottom: 1rem;
	}

	ul {
		margin-bottom: 0;

		li {
			margin-top: 1rem;
		}
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}
	}
</style>
