---
import cornucopia from '../images/cornucopia.webp'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='About FITM'>
	<main>
		<h1>The Internet rocks.</h1>

		<p style="text-align: center;">This little site is to help the awesomest parts reach people who would love them. </p>

		<img id="cornucopia" src={cornucopia.src} title="In this elaborate feast, every guest finds something delicious." />

		<section style="padding-top: 0;">
			<p>Our precious treasure trove constantly introduces knowledge, joy, curiosity, beauty, and meaning to all manner of visitors. The ocean of opportunities in the web connects interests quickly and cheaply to the most appropriate and extraordinary resources for them available anywhere in the world, an exclusive 21st-century privilege.</p>

			<p>
				<strong>Yet, it can be easy to miss indispensable things for your set of interests</strong>...
			</p>
		</section>

		<section>
			<h2>FITM: Revealing Routes to Remarkable Resources</h2>

			<p>
				The <strong>Flexible Internet Treasure Map (FITM)</strong> marks the hiding places of treasured links found by brave web wanderers. It's purpose is to aid in discovery of great Internet links that engage your heart and mind.
			</p>

			<p>Links are ranked using simple, predictable rules. They are evaluated according to aggregate user feedback, like clicks, likes, and <a href="/about/how#cats">cats</a>.</p>

			<p>
				<em>Treasure</em> can be anything that anyone cares about. Any topic, and importantly any<em>combination of topics</em>, can be dynamically indexed.
			</p>

			<p>
				<a href="/about/how">Learn how it works</a>
			</p>
		</section>

		<section>
			<h2>Benefits</h2>

			<ul>
				<li><strong>Objective, relevant recommendations.</strong> Link rankings come directly from cumulative user interactions, so highly-ranked links have reason to be trusted. Filtering to match various conditions is easy and reliable. Finding what most people recommend for some topic is dead simple&mdash;by default, the most-liked links from any search go first. Because fairness and accountability are crucial in this exchange, FITM's ranking formula is open source and made to be easily understood. Searches do exactly what they say they'll do, nothing more, nothing less. Likes, copies, tags, etc. can all be verified in public data.</li>

				<li><strong>Maximal search precision.</strong> Matching <em>all</em>&mdash;not <em>any</em>&mdash; of your keywords (cats). In exchange for not getting an endless recommendation stream, you get sniper-like concentration on the most noteworthy handful. Incrementally adding or removing specificity by stacking or un-stacking cats allows you to fine-tune the breadth of your search results to be just right.</li>

				<li><strong>No distractions.</strong> FITM is more like a library or art gallery than a bar&mdash;an efficient pipeline for accessing the documented world. No being inundated with obnoxious ads or other unsolicited fluff. You're encouraged to effortlessly locate specific material using specialized search tools, or to wander amid new ideas and see what provokes interest. Comments, direct messaging, and other fun but innapropriate attention-callers are neglected in order to provide you with purposefully curated online delights and the focus to thoroughly enjoy them.</li>
			</ul>
		</section>

		<section>
			<h2>Seen something great?</h2>

			<p>Broad input helps all kinds of people discover and enjoy web treasures.</p>

			<p>Consider <a href="/new">showing off a cool thing you've found</a>. Anything at all. If you like it, someone else will too.</p>

			<p>Otherwise, sit back in your captain's chair and enjoy the goodies!</p>
		</section>
	</main>
</BaseLayout>

<style>
	section {
		padding: 1rem 0;
	}

	img {
		display: flex;
		margin: 0 auto;
	}

	img#cornucopia {
		max-height: 150px;
		margin-bottom: 1rem;
	}

	ul {
		margin-bottom: 0;

		li {
			margin-top: 1rem;
		}
	}

	@media (min-width: 480px) {
		section {
			padding: 2rem 0;
		}
	}

	@media (min-width: 680px) {
		img#cornucopia {
			max-height: 200px;
		}
	}
</style>
