---
import NoFooter from "../layouts/NoFooter.astro"
---

<NoFooter Title="Updates">
    <main>
        <h1>Important Updates</h1>

        <ul>
          <li><strong>11-16-24</strong>: Fixed issue where next/previous page buttons didn't apply cat filters</li>
        </ul>
    </main>

    <footer>
		<a href='/feedback'>Feedback</a>
    </footer>
</NoFooter>

<style>
  ul {
    margin-top: 2rem;
  }
</style>