---
import NoFooter from "../layouts/NoFooter.astro"
---

<NoFooter Title="Updates">
    <main>
        <h1>Important Updates</h1>

        <ul>
          <li><strong>12-3-24</strong>: Added Treasure Map section pages ("See All") for sections with 20+ links</li>
          <li><strong>11-16-24</strong>: Fixed issue where next/previous page links didn't include applied cat filters</li>
        </ul>
    </main>

    <footer>
		<a href='/feedback'>Feedback</a>
    </footer>
</NoFooter>

<style>
  ul {
    margin-top: 2rem;
  }
</style>