---
import modeep_island from '../images/modeep-island.webp'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='Feedback'>
	<main>
		<h1>Feedback</h1>

		<img id='modeep-island' src={modeep_island.src} alt='Modeep Island with Treasure Chest' />

		<p>All comments and suggestions are appreciated!</p>

		<p>
			Email <a href='mailto:support@modeep.org'>support@modeep.org</a> to let us know what you'd like to see in the
			next update.
		</p>
	</main>
</BaseLayout>

<style>
	main > p {
		text-align: center;
	}

	main > p:first-of-type {
		margin-top: 2rem;
	}

	#modeep-island {
		max-height: 150px;
		display: block;
		margin: 1rem auto 0;
		opacity: 50%;
		margin-top: 2rem;
	}
</style>
