---
import fitm_island from '../images/fitm-island.webp'
import NoFooter from "../layouts/NoFooter.astro"

---

<NoFooter Title="Leave Feedback">
	<main>	
		<h1>Feedback</h1>

		<img id="fitm-island" src={fitm_island.src} alt='FITM Island with Treasure Chest' />

		<p>If you think something could be better, please email <a href='mailto:support@modeep.org'>support@modeep.org</a>.</p>
		<p>All comments are appreciated and suggestions will be considered in the next round of updates.</p>
	</main>
</NoFooter>

<style>
	main > p {
		text-align: center;
	}

	main > p:first-of-type {
		margin-top: 2rem;
	}

	#fitm-island {
		max-height: 150px;
		display: block;
		margin: 1rem auto 0;
		opacity: 50%;
		margin-top: 2rem;
	}
</style>
