---
import fitm_island from '../images/fitm-island.webp'
import NoFooter from "../layouts/NoFooter.astro"

---

<NoFooter Title="Leave Feedback for FITM">
	<main>	
		<section>
			<h1>Feedback</h1>
			<p>If you have an opinion about how FITM could be better, please email <a href='mailto:fitm-contact@proton.me'>fitm-contact@proton.me</a> to share it. </p>
			<p>Your comments are appreciated and any suggestions will be considered in the next round of updates.</p>
			<p>Thanks for stopping by!</p>
		</section>

		<img id="fitm-island" src={fitm_island.src} alt='an island with a chest of web treasure' />
	</main>
</NoFooter>

<style>
	section {
		padding: 1rem 0;
	}
	#fitm-island {
		max-height: 350px;
		display: block;
		margin: 1rem auto 0;
		opacity: 50%;
	}
</style>
