---
import NoFooter from '../layouts/NoFooter.astro'
---

<NoFooter Title="Forgot Password">
    <script>
        import { SEND_PASSWORD_RESET_EMAIL_ENDPOINT } from '../constants'
        async function send_reset_password_request(e: SubmitEvent) {
            e.preventDefault()

            const form = e.target as HTMLFormElement
            const formData = new FormData(form)
            const login_name = formData.get('login_name')

            if (!login_name) {
                return
            }

            const endpoint = SEND_PASSWORD_RESET_EMAIL_ENDPOINT + `?login_name=${login_name}`

            const send_email_resp = await fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })

            if (!send_email_resp.ok) {
                return alert('Failed to send password reset email')
            }

            return window.location.href = '/forgot-password/sent'
        }

        document.getElementById('forgot-password')?.addEventListener('submit', (e) => send_reset_password_request(e))
    </script>
    <main>
        <h1>Send Password Reset Email</h1>

        <form id="forgot-password">
            <label for='login_name'>Login Name:</label>

            <input type='text' name='login_name' id='login_name' />
            <button type='submit'>Send</button>
        </form>
    </main>
</NoFooter>