---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='Sign Up or Log In to FITM'>
	<script>
		import { LOGIN_ENDPOINT, SIGNUP_ENDPOINT } from '../constants'
import fetch_with_handle_redirect from '../util/fetch_with_handle_redirect'
import get_cookie from '../util/get_cookie'

		async function handle_signup(event: SubmitEvent) {
			event.preventDefault()
			const form = event.target as HTMLFormElement
			const formData = new FormData(form)
			const signup_name = formData.get('signup_name')
			const password = formData.get('password')

			const signup_resp = await fetch_with_handle_redirect(SIGNUP_ENDPOINT, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					"login_name": signup_name,
					password,
				}),
			})
			if (!signup_resp.Response || signup_resp.RedirectTo) {
				return window.location.href = signup_resp.RedirectTo ?? '/500'
			}
			const signup_data = await signup_resp.Response.json()

			if (signup_data.token) {
				// set cookie
				document.cookie = `token=${signup_data.token}; max-age=14400; SameSite=strict; Secure`

				// redirect
				// check if redirect_to is set
				if (document.cookie.includes('redirect_to')) {
					const redirect_to = get_cookie(
						'redirect_to',
						document.cookie
					)

					// clear cookie
					document.cookie =
						'redirect_to=; max-age=0; SameSite=strict; Secure'

					// redirect
					window.location.href = redirect_to

					// else go to home
				} else {
					window.location.href = '/'
				}
			} else {
				alert(signup_data.error)
			}

			return
		}

		async function handle_login(event: SubmitEvent) {
			event.preventDefault()
			const form = event.target as HTMLFormElement
			const formData = new FormData(form)
			const login_name = formData.get('login_name')
			const password = formData.get('password')

			const login_resp = await fetch_with_handle_redirect(LOGIN_ENDPOINT, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					login_name,
					password,
				}),
			})

			if (!login_resp.Response || login_resp.RedirectTo) {
				return window.location.href = login_resp.RedirectTo ?? '/500'
			}
			const login_data = await login_resp.Response.json()

			if (login_data.token) {
				// set cookie
				document.cookie = `token=${login_data.token}; max-age=14400; SameSite=strict; Secure`

				// redirect
				// check if redirect_to is set
				if (document.cookie.includes('redirect_to')) {
					const redirect_to = get_cookie(
						'redirect_to',
						document.cookie
					)

					// clear cookie
					document.cookie =
						'redirect_to=; max-age=0; SameSite=strict; Secure'

					// redirect
					window.location.href = redirect_to

				// else go to home
				} else {
					window.location.href = '/'
				}
			} else {
				alert(login_data.error)
			}

			return
		}

		document
			.getElementById('signup')
			?.addEventListener('submit', (e) => handle_signup(e))
		document
			.getElementById('login')
			?.addEventListener('submit', (e) => handle_login(e))
	</script>
	<main>
		<section>
			<h2>Log In</h2>
			<form id='login'>
				<label for='login_name'>Name</label>
				<input type='text' name='login_name' />
				<br />
				<label for='password'>Password</label>
				<input type='password' name='password' />
				<input type='submit' value='Login' />
			</form>
		</section>

		<section>
			<h2>Sign Up</h2>
			<form id='signup'>
				<label for='signup_name'>Name</label>
				<input type='text' name='signup_name' />
				<br />
				<label for='password'>Password</label>
				<input type='password' name='password' />
				<input type='submit' value='Signup' />
			</form>
		</section>
	</main>
</BaseLayout>

<style></style>
