---
import NoFooter from '../layouts/NoFooter.astro'
---

<NoFooter Title='Sign up or Log in to Modeep'>
	<script>
		import { COOKIE_LIFETIME_SECS, LOGIN_ENDPOINT, SIGNUP_ENDPOINT } from '../constants'
		import { is_error_response } from '../types'
		import fetch_with_handle_redirect from '../util/fetch_with_handle_redirect'
		import get_cookie from '../util/get_cookie'

		const login_error = document.getElementById('login-error')
		const signup_error = document.getElementById('signup-error')

		document
			.getElementById('signup')
			?.addEventListener('submit', (e) => handle_signup(e))
		document
			.getElementById('login')
			?.addEventListener('submit', (e) => handle_login(e))

		async function handle_signup(event: SubmitEvent) {
			event.preventDefault()
			const form = event.target as HTMLFormElement
			const form_data = new FormData(form)
			const signup_name = form_data.get('signup_name')
			const password = form_data.get('password')

			const signup_resp = await fetch_with_handle_redirect(SIGNUP_ENDPOINT, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					"login_name": signup_name,
					password,
				}),
			})

			if (!signup_resp.Response || signup_resp.RedirectTo) {
				return window.location.href = signup_resp.RedirectTo ?? '/500'
			}

			const signup_data = await signup_resp.Response.json()
			if (is_error_response(signup_data) && signup_error) {
				signup_error.innerHTML = signup_data.error
				signup_error.style.display = 'block'
				return
			}

			assign_auth_cookies_and_handle_redirect(signup_data, (signup_name as string))
		}

		async function handle_login(event: SubmitEvent) {
			event.preventDefault()
			const form = event.target as HTMLFormElement
			const form_data = new FormData(form)
			const login_name = form_data.get('login_name')
			const password = form_data.get('password')

			const login_resp = await fetch_with_handle_redirect(LOGIN_ENDPOINT, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({
					login_name,
					password,
				}),
			})

			if (!login_resp.Response || login_resp.RedirectTo) {
				return window.location.href = login_resp.RedirectTo ?? '/500'
			}
			const login_data = await login_resp.Response.json()
			if (is_error_response(login_data) && login_error) {
					login_error.innerHTML = login_data.error
					login_error.style.display = 'block'
					return
				}

			assign_auth_cookies_and_handle_redirect(login_data, (login_name as string))
		}

		function assign_auth_cookies_and_handle_redirect(resp_data: any, user: string) {
			if (resp_data.token) {
				document.cookie = `token=${resp_data.token}; max-age=${COOKIE_LIFETIME_SECS}; SameSite=strict; Secure`
				document.cookie = `user=${user}; max-age=${COOKIE_LIFETIME_SECS}; SameSite=strict; Secure`

				// redirect if "redirect_to" is set
				if (document.cookie.includes('redirect_to')) {
					const redirect_to = get_cookie(
						'redirect_to',
						document.cookie
					)

					document.cookie =
						'redirect_to=; max-age=0; SameSite=strict; Secure'

					window.location.href = redirect_to

				} else {
					window.location.href = '/'
				}
			} else {
				alert('Something went wrong')
			}

			return
		}
	</script>
	<main>
		<section>
			<h2>Log In</h2>
			<p id="login-error" class="error"></p>
			<form id='login'>
				<label for='login_name'>Name</label>
				<input type='text' name='login_name' required />
				<br />
				<label for='password'>Password</label>
				<input type='password' name='password' required />
				<input type='submit' value='Log in' />
			</form>

			<a id='forgot-password' href="/forgot-password">Forgot Your Password?</a>
		</section>

		<section>
			<h2>Sign Up</h2>
			<p id="signup-error" class="error"></p>
			<form id='signup'>
				<label for='signup_name'>Name</label>
				<input type='text' name='signup_name' required />
				<br />
				<label for='password'>Password</label>
				<input type='password' name='password' required />
				<input type='submit' value='Sign up' />
			</form>
		</section>
	</main>
</NoFooter>

<style>
	h2 {
		margin-bottom: 0;
	}

	p.error {
		display: none;
		color: red;
		margin-top: 0;
	}

	p.error.visible {
		display: block;
	}

	form {
		margin-top: 1rem;
	}

	a#forgot-password {
		display: inline-block;
		margin-top: 1rem;
	}
</style>
