---
import NewLinks from '../components/Link/NewLinks'
import ToolTip from '../components/Modal/ToolTip'
import BaseLayout from '../layouts/BaseLayout.astro'

let token = Astro.cookies.get('token')?.value
let user = Astro.cookies.get('user')?.value

if (!token || !user) {
	Astro.cookies.set('redirect_to', Astro.url.pathname, {
		maxAge: 300,
		path: '/login',
		sameSite: 'strict',
		secure: true,
	})
	return Astro.redirect('/login')
}
---

<BaseLayout Title='Tell a tale of your travels - Modeep'>
	<main>
		<NewLinks client:load Token={token} User={user} />

		<section id='rules'>
			<h2>Rules</h2>

			<ul>
				<li>
					<ToolTip client:load Prompt={'NSFW'} Title="Click to be informed of what 'NSFW' stands for">
						<p style='margin-bottom: 1rem;'><strong>Not Safe For Work</strong></p>
					</ToolTip>
					stuff should be tagged with

					<span id='example-cat'>"NSFW"</span>
				</li>
			</ul>
		</section>
	</main>
</BaseLayout>

<style>
	section#rules {
		margin-top: 1.5rem;

		ul {
			margin: 0 0 0.5rem;

			li {
				min-height: 2rem;
			}
		}
	}

	#example-cat {
		display: inline-block;
		margin: 5px;
		padding: 2px 5px;
		border-radius: 2px;
		color: black;
		background-color: var(--danger);
		font-weight: bold;
	}

	a {
		font-weight: bold;
	}
</style>
