---
import NewLinks from '../components/Link/NewLinks'
import ToolTip from '../components/Modal/ToolTip'
import NoFooter from '../layouts/NoFooter.astro'

let token = Astro.cookies.get('token')?.value
let user = Astro.cookies.get('user')?.value

if (!token || !user) {
	Astro.cookies.set('redirect_to', Astro.url.pathname, {
		maxAge: 300,
		path: '/login',
		sameSite: 'strict',
		secure: true,
	})
	return Astro.redirect('/login')
}
---

<NoFooter Title='Mark Treasure'>
	<main>
		<h2>What's That?</h2>

		<NewLinks client:load Token={token} User={user} />

		<section id="rules">
			<h2>Rules</h2>
			<ul>
				<li>
					<ToolTip client:load Prompt={"NSFW"}>
						<p style="margin-bottom: 1rem;"><strong>NSFW</strong>: Not Safe For Work</p>
					</ToolTip> 
					stuff should be tagged with cat 
					<span id="example-cat" class="cat">"NSFW"</span>
				</li>
				<li>Be respectful of content owner wishes</li>
			</ul>
		</section>
	</main>
</NoFooter>

<style>
	section#rules {
		margin-top: 1.5rem;
		
		ul {
			margin: 0 0 0.5rem;

			li {
				min-height: 2rem;
			}
		}
	}

	#example-cat {
		display: inline-block;
		margin: 5px;
		padding: 2px 5px;
		border-radius: 2px;
		color: black;
		background-color: var(--danger);
		font-weight: bold;
	}

	a {
		font-weight: bold;
	}
</style>
