---
import WithFooter from '../layouts/WithFooter.astro'
---

<script>
	var encEmail = 'bGFsaW5kc2ExN0BnbWFpbC5jb20='
	const form = document.getElementById('contact')!
	form.setAttribute('href', 'mailto:'.concat(atob(encEmail)))
</script>

<WithFooter Title='A Note'>
	<main>
		<h1>A Note about Modeep and Mental Health</h1>
		<section>
			<p>
				Modeep is the brainchild of <a href='https://julianlk.com/' target='_blank'>Julian Lindsay-Kaufman</a>,
				who died by suicide in November 2025 at the age of twenty-six. He spent countless hours conceptualizing
				and building it—no small feat for someone whose coding and web development skills were all self-taught.
				Julian intended modeep to be a democratic and human-focused alternative to a search engine, a source of
				recommendations by real people brought together by shared interests.
			</p>
			<p>
				As a tribute to Julian and because it is a cool resource, I intend to keep modeep up and running as best
				I can. I hope people will discover and use it, and recommend it to others. (If you would like to help
				with that, please <a id='contact' href=''>contact me</a>.)
			</p>
			<div style='display: flex'>
				<p>
					I also envision modeep as an especially useful resource to find information and community around
					mental health and suicide prevention. Those who suffer from mental health challenges, as Julian did,
					may feel very alone. It may take too much energy to seek out all the help they need. But it’s not
					that hard to surf the internet, especially with some pointers along the way. I hope the resources on
					modeep—along with countless others that are available—may provide some solidarity and ways forward.
					I encourage users to add links that may be helpful for navigating mental health, suicide ideation,
					or its painful aftermath.
				</p>
				<img src='/setup.JPEG' style='width: 20%; margin: 0px 100px;' />
			</div>
			<p>
				I wish—oh, do I wish—that I had found more ways to help Julian. By maintaining modeep and, though it,
				highlighting mental health and suicide prevention resources, I hope perhaps to help someone else.
			</p>
			<p>Lisa Lindsay (Julian’s mom)</p>
			<p>March 2026</p>
			<div style='display: flex; justify-content:space-around;F'>
				<img src='/patagonia-2019.jpeg' style='width:30%;' />
				<img src='/whiteboard.JPEG' style='width:30%;' />
			</div>
		</section>
	</main>
</WithFooter>
