---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title='Rate Limited'>
<main>
    <h1>Not so fast!</h1>
    <p>Literally. You've been rate limited. Try again after a minute.</p>
    <p>If you believe the rate limit is too strict, please email <a href='mailto:fitm-contact@proton.me'>fitm-contact@proton.me</a> to share your opinion.</p>
</main>
</BaseLayout>