---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout Title="Reset Password">
    <script>
        import { RESET_PASSWORD_ENDPOINT } from '../constants'
import { is_error_response } from '../types'
        async function handle_reset_password(e: SubmitEvent) {
            e.preventDefault()

            const form = e.target
            const formData = new FormData(form as HTMLFormElement)
            const new_password = formData.get('new_password')
            const confirm = formData.get('confirm')

            if (new_password !== confirm) {
                return alert('Passwords do not match')
            }

            const token = new URLSearchParams(window.location.search).get('token')
            const reset_password_resp = await fetch(RESET_PASSWORD_ENDPOINT, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    new_password,
                    token,
                }),
            })
            if (!reset_password_resp.ok) {
                const reset_password_data = await reset_password_resp.json()
                if (is_error_response(reset_password_data)) {
                    return alert(reset_password_data.error)
                }   
            }

            return window.location.href = '/login'
        }

        document.getElementById('reset-password')?.addEventListener('submit', (e) => handle_reset_password(e))
    </script>
    <main>
        <h1>Reset Password</h1>

        <form id="reset-password">
            <label for='new_password'>New Password:</label>
            <input type='password' name='new_password' id='new_password' required autocomplete="off" />

            <label for='confirm'>Confirm:</label>
            <input type='password' name='confirm' id='confirm' required autocomplete="off" />
            <button type='submit'>Reset</button>
        </form>
    </main>
</BaseLayout>