<section>
    <h2>Marooned Links</h2>
    <p>A <em>marooned</em> link is hard to search for because its tag cats are close to but not quite what you would expect.</p>
    <p>For example, say that cat "videos" is common. People who want videos will probably use that as their search filter, not "video" (no "s"). Tagging a link with "video" instead may make it hard to find.</p>
    <p>Or, "blogs" and "Blogs." Capitalization matters in cat spellings, because otherwise cases like "goats" and "GOATs" might be confusing.</p>
</section>
<section>
    <h2>Guide to Anti-Marooning Mastery / Best Odds of Discovered Treasure</h2>
    <p>(so far)</p>
    <ol>
        <li>If part of a group, prefer to describe the group (e.g., video<strong>s</strong>) over the individual (video)</li>
        <li>Prefer "and" over "&" unless part of a proper noun</li>
        <li>Prefer lowercase unless part of an acronym or proper noun</li>
    </ol>
</section>

<style>
    section:first-of-type {
        padding-top: 0;
    }
</style>