dialog.modal {
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	max-width: 800px;
	background-color: var(--treasurey);

	button.ok-btn {
		display: block;
		margin: 0 auto;
	}

	button:not(:first-of-type) {
		margin-left: 5px;
	}
}
