<script>
	import {
assign_scroll_observer,
assign_scrollup_btn_click_handler,
} from '../util/scroll'

	const scroll_up_btn = document.getElementById(
		'scroll-to-top'
	) as HTMLButtonElement
	const top_section = document.querySelector('section') as HTMLElement

	assign_scroll_observer({ scroll_up_btn, target: top_section })
	assign_scrollup_btn_click_handler(scroll_up_btn)
</script>
<button id='scroll-to-top' title="Scroll to top">
	<svg
		xmlns='http://www.w3.org/2000/svg'
		width='24px'
		height='24px'
		viewBox='0 0 24 24'
	>
		<path
			fill='currentColor'
			d='M12.75 20a.75.75 0 0 1-1.5 0v-9.25H6a.75.75 0 0 1-.53-1.28l6-6a.75.75 0 0 1 1.06 0l6 6a.75.75 0 0 1-.53 1.28h-5.25z'
		></path>
	</svg>
	<p>To Top</p>
</button>

<style>
	#scroll-to-top {
		display: none;
		background-color: transparent;
		border: none;
		color: white;
		flex-direction: column;
		align-items: center;
		position: fixed;
		bottom: 1rem;
		right: max(24px, calc((100% - min(100%, 1080px)) / 2));
		z-index: 1;

		svg {
			width: 24px;
			height: 24px;
		}

		p {
			font-size: 0.9rem;
			margin: 0;
		}
	}

	#scroll-to-top:hover {
		cursor: pointer;
	}
	
	#scroll-to-top.visible {
		display: flex;
	}
</style>
