div#profile-pic {
	margin-bottom: 0.5rem;

	img#pfp {
		display: block;
		max-height: 150px;
		width: auto;
	}

	form {
		margin-top: 0.5rem;

		#new-pic-upload-label {
			display: inline-block;
			width: fit-content;
			cursor: pointer;
		}

		button#delete-pfp-btn {
			margin-left: 5px;
		}
	}
}
