div#search-cats-container {
	margin-top: 0.5rem;
}

div#search-cats-container.home {
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}

input#cats {
	min-width: 190px;
}

input#add-cat-filter {
	margin-left: 2px;
}

input#add-cat-filter:disabled {
	color: var(--text-muted);
}

input::placeholder {
	opacity: 0.8;
	font-size: 0.85rem;
	text-align: center;
}

ul#cat-list {
	display: flex;

	li:has(input#clear-cat-filters) {
		list-style: none;
	}
}

ol#recommendations-list {
	display: flex;
	justify-content: center;
}

ul#cat-list,
ol#recommendations-list {
	margin: 0.5rem 0;
}

p.error {
	margin-bottom: 0.5rem;
}
