#search-cats-container {
	margin-top: 0.5rem;

	input#cats {
		font-size: 0.85rem;
		padding: 1px;
		min-width: 25ch;
	}

	input#cats::placeholder {
		font-size: 0.85rem;
		opacity: 0.8;
		text-align: center;
	}

	input#add-cat-filter {
		margin-left: 3px;
	}

	input#add-cat-filter:disabled {
		color: var(--text-muted);
	}
}

#search-cats-container.home {
	width: fit-content;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 0.5rem;
}

#search-cats-container:has(ol#recommendations-list) {
	margin-bottom: 0;
}

ul#cat-list {
	display: flex;

	li:has(input#clear-cat-filters) {
		list-style: none;
		align-self: center;
	}
}

ol#recommendations-list {
	justify-content: center;
	width: fit-content;
}

ul#cat-list,
ol#recommendations-list {
	margin: 0.5rem 0;
}

p.error {
	margin-bottom: 0.5rem;
}

@media (min-width: 680px) {
	#search-cats-container.home {
		margin-bottom: 1rem;
	}
	#search-cats-container.home:has(ol#recommendations-list) {
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 786px) {
	#search-cats-container.home {
		margin-bottom: 2rem;
	}
}
