---
import NoFooter from "./NoFooter.astro";

interface Props {
	Title: string
}

const { Title: title } = Astro.props
---

<NoFooter Title={title}>
	<slot />
	<footer>
		<a href='/feedback'>Feedback</a>
		<a href='/changes'>Changes</a>
	</footer>
</NoFooter>

<style>
	footer a:not(:last-of-type) {
		margin-right: 3px;
	}
</style>