---
interface Props {
	Title: string
}

const { Title: title } = Astro.props
let user = Astro.cookies.get('user')?.value
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Flexible Internet Treasure Map (FITM)' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header>
		<nav>
			<a href='/'>Home</a>
			<a href='/search'>Search</a>
			<a href='/new'>Mark Treasure</a>
			{user ? (
				<div id="user-links">
					<a href=`/map/${user}` id="user-tmap-link">{user}</a>
					<button id="logout-btn">Logout</button>
				</div>
			) : <a href='/login' id="login-link">Login</a>}
		</nav>
	</header>
	<script>
		const logout_btn = document.getElementById('logout-btn')
		logout_btn?.addEventListener('click', (e) => {
			e.preventDefault()
			document.cookie = `token=; Path=/; Max-Age=0; SameSite=strict; Secure`
			document.cookie = `user=; Path=/; Max-Age=0; SameSite=strict; Secure`
			window.location.reload()
		})
	</script>
	<body>
		<slot />
	</body>

	<style is:global>
		@font-face {
			font-family: 'Orienta';
			src: url('/fonts/Orienta-Regular.ttf');
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}
		:root {
			--text: hsl(0, 0%, 92%);
			--text-muted: hsl(44deg 5% 90% / 85%);
			--treasurey: hsl(44, 55%, 80%);
			--treasurey-dark: hsl(44, 25%, 60%);
			--sky: hsl(180, 33%, 82%);
			--danger: hsl(360, 66%, 66%);
			font-family: 'Orienta', sans-serif;
			font-size: 14px;
			background: #13151a;
		}
		header nav {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;

			#login-link {
				margin-left: auto;
			}

			#logout-btn {
				background: none;
				border: none;
				cursor: pointer;
				color: var(--text);
				font-size: 1rem;
				margin-top: 0;
				padding: 0 0 0 calc(0.5rem - 4px);
				text-decoration: underline;
			}
		}
		nav,
		footer {
			max-width: 1080px;
			margin: 0 auto;
			padding: 0.5rem 1rem;

			a,
			a:visited {
				color: var(--text);
			}
		}
		main {
			margin: auto;
			padding: 0.5rem;
			width: 1080px;
			max-width: calc(100% - 2rem);
			color: var(--text);
		}
		h1 {
			font-size: 2rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1rem;
		}
		h2 {
			font-size: 1.25rem;
		}
		h3 {
			font-size: 1.15rem;
		}
		h2, h3, h4, h5, h6 {
			margin: 0;
		}
		p {
			margin-bottom: 0;
		}
		section {
			padding: 0.5rem 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		}
		a {
			color: var(--treasurey);
		}
		form {
			max-width: 100%;

			label {
				display: block;
				margin-top: 3px;
			}

			textarea {
				max-width: 100%;
			}

			label:is(#search-period, #search-sort-by, #search-cats, #search-nsfw) {
				display: inline;

				+ * {
					margin-left: 5px;
				}
			}
		}
		img {
			height: auto;
			object-fit: contain;
			max-width: 100%;
		}
		details {
			max-width: 100%;
			margin-top: -7px;
		}
		details[open] {
			summary pre { 
				display: none;
			}
		}
		pre {
			white-space: pre-line;
			margin: 0;
		}

		button {
			color: black;
		}

		button.img-btn {
			padding: 3px 3px 0px;
			margin-top: 0;
			min-width: fit-content;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}

		nav.pagination:nth-of-type(2) {
			margin-top: 0.5rem;
		}

		#top-cats,
		#top-contributors {
			display: flex;
			flex-direction: column;
			list-style-position: inside;
			margin: 0;
			padding: 0.5rem 1rem;

			li {
				margin-right: 1rem;

				a {
					display: inline-block;
				}
			}
		}

		section:has(p#no-links) {
			text-align: center;
		}

		#cat-list {
			display: flex;
			flex-wrap: wrap;
			padding-inline-start: 0;
			gap: 5px;
		}

		.error {
			color: red;

			a {
				color: red;
			}
		}

		a.submitted-by {
			color: var(--text);
		}
		span.by,
		p.last-updated {
			color: var(--text-muted);
		}

		@media (min-width: 400px) {
			h2 {
				font-size: 1.5rem;
			}
		}

		@media (min-width: 480px) {
			header nav #user-links {
				margin-left: auto;
			}
		}

		@media (min-width: 680px) {
			header nav a {
				font-size: 1.1rem;
			}
			main {
				padding: 2rem;
				padding-bottom: 1rem;
				max-width: calc(100% - 4rem);
			}
		}
	</style>
</html>
