.link {
	position: relative;
	margin: 1rem 0 0;
}

.link.single {
	list-style: none;
}

.preview {
	display: inline-flex;
	gap: 1rem;
	vertical-align: top;
	overflow: scroll;

	img {
		object-fit: cover;
	}
}

span.submit-date {
	color: var(--text-muted);
}

div.tag {
	margin-top: 0.5rem;

	li.tag-count {
		list-style: none;
		font-size: 1.1rem;
		font-weight: bold;
		margin-left: 3px;

		span.tags-page-link {
			color: var(--treasurey);
		}
	}

	ul.cats {
		display: inline-flex;
		gap: 2px;
		margin: 0;

		li a.nsfw {
			color: var(--danger);
		}
	}
}

.copy-cats-btn {
	vertical-align: middle;
	margin-top: -1px;
	margin-left: 5px;
	color: var(--sky);
}

.like-btn {
	margin-right: 3px;
}

.copy-btn {
	margin-left: 2px;
}

.like-btn,
.copy-btn {
	border-radius: 2px;
}

.like-btn.liked,
.copy-btn.copied {
	background-color: var(--sky);
	font-weight: bold;
}

.like-btn,
.copy-btn,
.same-user-like-count,
.same-user-copy-count,
.click-count {
	display: inline-flex;
	gap: 3px;
	margin-top: 10px;
}

.same-user-like-count,
.same-user-copy-count,
.click-count {
	align-items: center;
}

.click-count span {
	margin-left: -1px;
}

.same-user-like-count + .same-user-copy-count,
:is(.same-user-like-count, .same-user-copy-count) + .click-count {
	margin-left: 8px;
}

button.copy-btn + .click-count {
	margin-left: 3px;
}

.same-user-like-count,
.same-user-copy-count,
.click-count {
	font-weight: bold;
	color: var(--sky);

	svg {
		color: var(--text);
	}
}

p,
button,
.same-user-like-count {
	margin-top: 0.5rem;
}

p {
	margin-bottom: 0;
}

button.delete-link-btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (min-width: 680px) {
	astro-island:first-of-type li.link {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.link {
		margin-top: 1.5rem;
	}

	.preview {
		overflow: auto;
	}

	button.delete-link-btn {
		bottom: calc(50% - 10px);
	}
}
