.link {
	position: relative;
	margin: 1rem 0 0;
}

astro-island:first-of-type li.link {
	margin-top: 0;
}

.link.single {
	list-style: none;
}

.preview {
	display: inline-flex;
	gap: 1rem;
	vertical-align: top;
	overflow: scroll;

	img {
		object-fit: cover;
	}
}

a.url-anchor {
	display: block;
	width: fit-content;
}

a.url-anchor:visited {
	color: var(--treasurey-dark);
}

p.url {
	font-size: 0.9rem;
	font-weight: bold;
}

a.url-anchor h3,
p.url {
	overflow-wrap: anywhere;
}

span.submit-date {
	color: var(--text-muted);
}

div.tags {
	max-width: calc(100% - 32px);
	margin-top: 0.5rem;

	ul.cats {
		list-style: none;
		display: inline;
		padding-inline-start: 0;
		margin-left: 3px;

		li {
			display: inline;

			a.nsfw {
				color: var(--danger);
			}
		}
	}
}

div.tags a.tags-page-link:not(:visited),
div.tags a.tags-page-link:visited,
.summaries-page-link a:not(:visited),
.summaries-page-link a:visited {
	color: var(--text);
}

.copy-cats-btn {
	vertical-align: middle;
	margin-left: 5px;
	color: var(--sky);
}

.like-btn {
	margin-right: 3px;
}

.like-btn,
.copy-btn {
	border-radius: 2px;
}

.like-btn.liked,
.copy-btn.copied {
	background-color: var(--sky);
	font-weight: bold;
}

.like-btn,
.copy-btn,
.same-user-like-count {
	display: inline-flex;
	align-items: center;
	gap: 3px;
	margin-top: 1rem;
}

p,
button,
.same-user-like-count {
	margin-top: 0.5rem;
}

p {
	margin-bottom: 0;
}

button.delete-link-btn {
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (min-width: 768px) {
	.link {
		margin-top: 2rem;
	}

	.preview {
		overflow: auto;
	}

	button.delete-link-btn {
		bottom: calc(50% - 10px);
	}
}
