section#new-link {
	form input#submit-new-link {
		display: block;
		margin-top: 1rem;
	}

	label#search-cats {
		display: block;

		+ * {
			margin-left: 0;
		}
	}
}

#submitted-links ol li:not(:first-of-type) {
	margin-top: 1rem;
}

@media (min-width: 768px) {
	#submitted-links ol li:not(:first-of-type) {
		margin-top: 2rem;
	}
}
