section#new-link {
	padding-bottom: 1rem;

	form input#submit-new-link {
		display: block;
		margin-top: 1rem;
	}

	label#search-cats {
		display: block;

		+ * {
			margin-left: 0;
		}
	}
	
	> p.error {
		margin-top: 0;
	}
}

#submitted-links ol li.link:not(:first-of-type) {
	margin-top: 1rem;
}

@media (min-width: 768px) {
	#submitted-links ol li.link:not(:first-of-type) {
		margin-top: 1.5rem;
	}
}
