a.url-anchor {
	display: block;
	width: fit-content;
}

a.url-anchor:visited {
	color: var(--treasurey-dark);
}

p.url {
	font-size: 0.9rem;
	font-weight: bold;
}

a.url-anchor h3,
p.url {
	overflow-wrap: anywhere;
}
