h3.link-title {
	display: block;
	width: fit-content;
	font-size: 1rem;
	margin-bottom: 0 !important;
}

h3.link-title a.url-link:visited {
	color: var(--treasurey-dark);
}

a.summaries-page-link {
	color: var(--text);

	span.summary-count {
		color: var(--treasurey);
	}
}

p.url {
	font-size: 0.85rem;
	font-weight: bold;
}

h3.link-title,
p.url {
	overflow-wrap: anywhere;
}

@media (min-width: 768px) {
	h3.link-title {
		font-size: 1.1rem;
	}

	p.url {
		font-size: 0.9rem;
	}
}
